
$ight-dark-color: #292929;
$light-gray-color:#ccc;
$box-shadow: 2px 2px 5px rgba(102, 102, 102, 0.5);
$box-shadow-container: 0 0 5px rgba(0, 0, 0, 0.5);
$box-shadow-focus-button: 5px 5px 5px rgba(70, 169, 133, 0.5);
$light-grey-color: rgba(150, 148, 148, 0.792);

